# Dependencies
node_modules

# Build outputs
dist
build
*.tsbuildinfo

# Coverage
coverage

# Logs
*.log

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment files
.env
.env.*

# IDE
.vscode
.idea
